<div class="container">
  <h1>sampledBeer list here</h1>
</div>
<table>
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        ID
      </td>
      <td>
        Organic?
      </td>
      <td>
        description
      </td>
      <td>
        Unsample?
      </td>
    </tr>
  </thead>
  <tbody ng-repeat="beer in beers track by $index">
    <tr>
      <td>
        {{beer.name}}
      </td>
      <td>
        {{beer.id}}
      </td>
      <td>
        {{beer.isOrganic}}
      </td>
      <td>
        {{beer.description}}
      </td>
      <td>
        <button ng-click="unsample(beer)">Unsample Beer</button>
      </td>
    </tr>
  </tbody>
</table>
